*{ /*Fonte utilizada no site*/
    font-family: 'Montserrat', sans-serif;
} 

/*Cor de fundo utilizada na tela*/
body{   
    background-color: #ededed;
}

a{
    text-decoration: none;
}

header{
    background-color: #bedef2;
    height: 80px;
}

/*INICIO MEDIA QUERY*/
@media screen and (max-width: 429px) {
    .login{
        display: none!important;
    }

    .short-login{
        display: flex!important;
        margin-left: 7px;
    }
}
    /* Quando a largura da tela é menor ou igual a 748px */

@media screen and (max-width: 748px) {
    .short-criar{
        display: flex!important;
    }
     /* Estilização de um botão dentro de um elemento com a classe "short-criar" */
    .short-criar button{     
        border-radius: 100%;
        border: #770089 1px solid;
        height: 30px;
        background-color: #b25abf;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .short-criar i {
        color: #ffffff;
    }

    .criar{
        display: none!important;
    }
}

.logo-header{
    padding-bottom: 20px;
}

@media screen and (max-width: 820px){
    .logo-header{
        padding-top: 20px;
    }
}

@media screen and (max-width: 1024px){
    .logo-header{
        padding-top: 5px;
    }
}

@media screen and (max-width: 819px) {
    header input{
        width: min(5vw, 300px);
        margin-right: 60px;
    }

    .criar{
        padding: 0;
    }

    .logo-short{
        display: block!important;

    }

    .logo-header{
        display: none!important;
    }
}
/*FIM MEDIA QUERY*/

.logo-header{
    margin-bottom: -45px;
}
/* Estilização do input */
header input{
    width: min(45vw, 700px);
    height: min(45vw, 29px);
    font-size: min(3vw, 16px);
    border-radius: 40px;
    border: #b25abf 2px solid;
}
   /* Estilização do input no hover */
header input:hover{
    border: #b25abf 3px solid;
    transition-duration: all 0.4s;
}
/* Estilização do placeholder no input para navegadores baseados em Webkit */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
  }
/* Estilização geral da classe .area-pesquisar */

.area-pesquisar{
    position: relative;
}

/* Estilização geral do input com tipo "search" */
input[type='search']{
    padding-left: 10px;
}
/* Estilização geral do botão de pesquisa */

.btn-pesquisar{
    background-color: transparent;
    color: #000000;
    border: none;
    border-radius: 4px;
    margin-left: -45px;
    margin-top: 5px;
    max-height: 25px;
    position: absolute;
    font-size: min(3vw, 16px);
}

/* Estilização do botão de criar evento */
.btn-criar-evento{
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: bold;
    width: 180px;
    font-size: min(4vw, 18px);
}

/* Estilização do botão de criar evento no hover */
.btn-criar-evento:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

.btn-criar-evento:active{
    color: #b25abf !important;
    border: none !important;
}

   /* INICIO MODAL */

   /* Estilização do elemento com a classe .css-selector */
.css-selector {
    background: linear-gradient(22deg, #69d006, #dd8448, #ae17d0);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

.navbar-toggler-icon {
    width:4rem; 
    height: 4rem;
}

.xis{
    position: relative;
    right: 2rem;
}

.option{
    width: 7rem;  
}

.sidenav{
    width: fit-content;
}

.tamanhoLogo{
    width: 30rem;
}
.logot{
    height: fit-content;
}

.modal-header{
    width: 100%;
    height: fit-content;
}
.modal-footer {
    width: 100%;
    border: none;
    background-color:#e0e0e0;
}

#sair:hover {
    color: rgb(255, 255, 255);
}

.modal-header{
    background-color: #bedef2;
    
}

.logo{
  background-color: #bedef2;
}

li{
    margin-top: 4rem;
}

li:hover{
    margin-top: 4rem;;
    color:#770089;
}

.list-group-item{
    width: 100%;
    background-color:#e0e0e0;
}

.overlay {
    display: none; /* Esconde a camada de sobreposição por padrão */
    position: fixed; /* Permanece fixo na tela */
    z-index: 1; /* Define uma ordem de camada acima dos outros elementos */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(212, 212, 212, 0.5); /* Define uma cor de fundo semitransparente */
    backdrop-filter: blur(5px); /* Aplica o efeito de desfoque */
  }

.modal-body{
    background-color:#e0e0e0;
    font-size:1.5rem;
  }
  
#sair{
    width: 100%;
    padding-left: 2%; 
  }

svg.bi.bi-box-arrow-right{
    width: 10%;
}

svg{
    padding-right:5%;
}

/* Estilização dos itens da lista com id "sair" */
li#sair.list-group-item.d-flex.d-inline-flex{
    border-left:none;
    border-bottom:none;
    border-right :none;
}
/* Estilização dos itens da lista com id "sair" no hover */

li#sair.list-group-item.d-flex.d-inline-flex:hover{ 
    color:rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.658);
}
/* Estilização da classe .modal-content com animação de entrada */
.modal-content {
    animation-name: modal-animacao;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transform-origin: left center;
}   
/* Definição da animação de entrada para o modal */

@keyframes modal-animacao {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
/* Estilização global para links */

a {
    color: #000000;
}
/* FIM MODAL*/

/* Estilização geral da classe .titulo */
.titulo{
    font-size: min(3vw, 24px);
    margin: 0 0 -100px 0;
    color: #000;
    font-weight: bold;
}

/* Estilização do elemento de seleção de formulário */
.form-select{
    width: 300px !important;
    min-width: 140px;
    padding: 0.5rem 1rem;
    font-family: 'FontAwesome', 'Montserrat';
    font-size: 1.2rem !important;
    font-weight: 400;
    line-height: 1.6;
    color: #424242 !important;
    background-color: #ededed;
    background-clip: padding-box;
    border: solid 1px #770089 !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.teste{
    background-color: #dccce0;
    border-radius: 10px;
    border-color: transparent;
}

.config-card{
    border: 3px solid #770089;
    border-radius: 9px;
    width: 154px;
    height: 104px;
}

.config-img{
    width: 150px;
    height: 100px;
    border-radius: 7px;
}

.titulo-card{
    /*background-color: #e1d1e5;*/
    color: #f5d742;
    font-weight: bold;
}

/* INICIO FOOTER */
#insta{
    font-size: min(3vh, 20px);
}
/* Definindo a estilização do elemento com ID "instagram"*/

#instagram{
    color: #424242 !important;
    font-weight: bold;
    text-decoration: underline;
}
/* Definindo a estilização do elemento com ID "instagram:hover"*/

#instagram:hover{
    color: #b25abf !important;
    transition-duration: all 0.4s;
}

/* Definindo a estilização do elemento com ID "from"*/
#from{
    width: min(50vw, 150px);
}

/* Definindo a estilização do elemento com ID "baixar"*/
#baixar{
    width: min(50vw, 130px);
}

/* Definindo a estilização do elemento com ID "app"*/
#app{
    font-size: min(3vh, 11px);
    font-weight: bold;
}
/* FIM FOOTER */

/* Definindo a estilização do html scrollbar*/
html ::-webkit-scrollbar {
    height: 14px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #770089;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}