/* Colocando a fonte e a cor em toda a tela html*/
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ededed !important
}

/* Definindo a estilização do elemento com ID "divMenu"*/
#Cabecalho {
    background-color: #bedef2;
}

/* Definindo a altura e largura da logo"*/
#logo {
    width: 350px;
    position: relative;
}

html {
    overflow-x: hidden;
}

/* Definindo a estilização do elemento com ID "divLogoP"*/
#divLogoP {
    height: 85px;
    overflow: visible;
}

/* Definindo a estilização do elemento com ID "divBuscar"*/
.divBuscar {
    position: relative;
    transform: translate(-0%, - 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Definindo a estilização do elemento com ID "buscar"*/
.buscar {
    background-color: #ededed;
    height: 15px;
    padding: 15px;
    border: 2px solid #b25abf;
    border-radius: 40px;
    width: 100%;
}

.buscar:focus {
    outline: none !important;
}

.pesquisa {
    position: absolute;
    right: 30px;
    background-color: transparent;
    cursor: pointer;
    height: 20px;
    border: none;
    color: #000000;
}

/* Definindo a estilização do elemento com ID "CriarEvento"*/
.criar {
    border: solid 3px;
    border-color: #770089;
    border-radius: 40px;
    background-color: #b25abf;
    text-align: center;
    height: 33px;
    width: 170px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.short-criar {
    font-size: 14px;
    width: 34px;
}

#logo {
    z-index: 2
}

/*mediaquery responsividade do header*/
@media screen and (max-width: 600px) {
    #esther{
        height: 25% !important;
    }

    #lorena{
        height: 25% !important;
    }

    #sofia{
        height: 25% !important;
    }
    .short-criar {
        display: block !important;
    }

    .criar {
        display: none;
    }
  
    .divLogoP{
        position: absolute;
        width: 100%;
    }

    .short-criar {
        position: absolute;
        left: 85%;
        top:2%;
    }
    
    .divBtn{
        position: absolute;
        left: -175% !important;
        top:80% !important;
    }

    .divBuscar {
        position: absolute;
        top: 65px;
        left: 0px;
        height: 11%;
        width: 110% !important;
        background: #bedef2;
        padding: 20px;
        margin-top: 4px;
    }

    .short-pesquisa {
        padding: 0px 15px;
    }
        
}

@media screen and (min-width: 798px){

    .criar {
        display: block !important;
    }

    .short-criar {
        display: none !important;
    }
}

@media screen and (min-width: 798px) and (max-width: 1199px) {
  
    .divLogoP{
        position: absolute;
        width: 90%;
    }

    .criar {
        position: absolute;
        left: 65%;
        top: 2.5%;
    }
    
    .divBtn{
        position: absolute;
        left: 70%;
        top: 20%;
    }

    .divBuscar {
        position: absolute;
        top: 60px;
        left: 0px;
        height: 15%;
        width: 100%;
        background: #bedef2;
        padding: 20px;
        margin-top: 1%;
    }

    .short-pesquisa {
        padding: 0px 15px;
    }
        
}

@media screen and (min-width: 798px) {

    .criar {
        display: block !important;
    }

    .short-criar {
        display: none !important;
    }
   
}
/*final mediaquery>*/

/* INICIO MODAL */
.css-selector {
    background: linear-gradient(22deg, #69d006, #dd8448, #ae17d0);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

.navbar-toggler-icon {
    width:4rem; 
    height: 4rem;
}

.xis{
    position: relative;
    right: 2rem;
}

.btn{
    border: none;
    background-color:transparent;
    width:5rem; 
    height: 5rem;
    top: -4.5%;
    position: relative;
    left: -30% !important;
}

span.navbar-toggler-icon{
    width:4rem; 
    height: 4rem;
}

.btn:hover{
    border: none;
    background-color:transparent ;
    width:5rem; 
    height: 5rem;
    top: -4.5%;
    position: relative;
    left: -30% !important;
}

.option{
    width: 7rem;  
}

.sidenav{
    width: fit-content;
}

.tamanhoLogo{
    width: 30rem;
}
.logot{
    height: fit-content;
}

.modal-header{
    width: 100%;
    height: fit-content;
}
.modal-footer {

    width: 100%;
    border: none;
    background-color:#e0e0e0;
}

#sair:hover {
    color: rgb(255, 255, 255);
}

.modal-header{
    background-color: #bedef2;
    
}

.logo{
  background-color: #bedef2;
}

li{
    margin-top: 4rem;
}

li:hover{
    margin-top: 4rem;;
    color:#770089;
}

.list-group-item{
    width: 100%;
    background-color:#e0e0e0;
}

.overlay {
    display: none; /* Esconde a camada de sobreposição por padrão */
    position: fixed; /* Permanece fixo na tela */
    z-index: 1; /* Define uma ordem de camada acima dos outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 212, 0.5); /* Define uma cor de fundo semitransparente */
    backdrop-filter: blur(5px); /* Aplica o efeito de desfoque */
  }

.modal-body{
    background-color:#e0e0e0;
    font-size:1.5rem;
  }
  
#sair{
    width: 100%;
    padding-left: 2%; 
  }

svg.bi.bi-box-arrow-right{
    width: 10%;
}

svg{
    padding-right:5%;
}


li#sair.list-group-item.d-flex.d-inline-flex{
    border-left:none;
    border-bottom:none;
    border-right :none;
}

li#sair.list-group-item.d-flex.d-inline-flex:hover{ 
    color:rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.658);
}

.modal-content {
    animation-name: modal-animacao;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transform-origin: left center;
}   
    
@keyframes modal-animacao {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

a {
    color: #000000;
}
/* FIM MODAL */

.teste{
    background-color: #dccce0;
    border-radius: 10px;
    border-color: transparent;
}

.titulo{
    font-size: min(3vw, 24px);
    margin: 0 0 -100px 0;
}

.divSobre{
    background-image: url('./../img/fundoSobre.png');
    border: solid 3px ;
    border-color: #770089;
    border-radius: 13px;
    width: min(45vw, 650px);
}

.sobre{
    color: #ededed;
    font-size: min(2vw, 14px);
}

.insta{
    text-decoration: none; 
    color:#e0e0e0;
}

.insta:hover{
    color:#e0e0e0;
}

.email{
    text-decoration: none; 
    color:#e0e0e0;
}

.email:hover{
    color:#e0e0e0;
}

.whats{
    text-decoration: none; 
    color:#e0e0e0;
}

.whats:hover{
    color:#e0e0e0;
}

.titulo-card{
    font-family: 'Montserrat', sans-serif;
    color: #770089;
    font-weight: bold;
}

.nozes{
    width: min(45vw, 650px);
}

.iconI{
    font-weight: bold;
}

#esther{
    width: 17%;
    height: 28%;
    border-radius:100%;
}

#labelE{
    color: #400049;
    font-weight: bold;
    font-size: min(3vw, 18px);
}

#instaE{
    font-size: min(3vw, 15px);
    font-weight: bold;
    text-decoration: none; 
    color:#000000;
}

#instaE:hover{
    color:#b25abf;
}

#emailE{
    font-size: min(3vw, 15px);
    font-weight: bold;
    text-decoration: none; 
    color:#000000;
}

#emailE:hover{
    color:#b25abf;
}

#lorena{
    width: 17%;
    height: 28%;
    border-radius:100%;
}

#labelL{
    color: #400049;
    font-weight: bold;
    font-size: min(3vw, 18px);
}

#instaL{
    font-size: min(3vw, 15px);
    font-weight: bold;
    text-decoration: none; 
    color:#000000;
}

#instaL:hover{
    color:#b25abf;
}

#emailL{
    font-size: min(3vw, 15px);
    font-weight: bold;
    text-decoration: none; 
    color:#000000;
}

#emailL:hover{
    color:#b25abf;
}

#sofia{
    width: 17%;
    height: 28%;
    border-radius:100%;
}

#labelS{
    color: #400049;
    font-weight: bold;
    font-size: min(3vw, 18px);
}

#instaS{
    font-size: min(3vw, 15px);
    font-weight: bold;
    text-decoration: none; 
    color:#000000;
}

#instaS:hover{
    color:#b25abf;
}

#emailS{
    font-size: min(3vw, 15px);
    font-weight: bold;
    text-decoration: none; 
    color:#000000;
}

#emailS:hover{
    color:#b25abf;
}

/* INICIO FOOTER */
#insta{
    font-size: min(3vh, 20px);
}

#instagram{
    color: black !important;
    font-weight: bold;
}

#instagram:hover{
    color: #b25abf !important;
    transition-duration: all 0.4s;
}

/* Definindo a estilização do elemento com ID "from"*/
#from{
    width: min(50vw, 150px);
}

/* Definindo a estilização do elemento com ID "baixar"*/
#baixar{
    width: min(50vw, 130px);
}

/* Definindo a estilização do elemento com ID "app"*/
#app{
    font-size: min(3vh, 11px);
    font-weight: bold;
}
/* FIM FOOTER */

/* Definindo a estilização do html scrollbar*/
html ::-webkit-scrollbar {
    height: 14px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #770089;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}