/*Cor de fundo utilizada na tela*/
body{   
    background-color: #ededed;
}

/* Estilização geral da classe .titulo */
.titulo{
    font-size: min(3vw, 24px);
    margin: 0 0 -100px 0;
    color: #000;
    font-weight: bold;
}

/* Estilização do elemento de seleção de formulário */
.form-select{
    width: 300px !important;
    min-width: 140px;
    padding: 0.5rem 1rem;
    font-family: 'FontAwesome', 'Montserrat';
    font-size: 1.2rem !important;
    font-weight: 400;
    line-height: 1.6;
    color: #424242 !important;
    background-color: #ededed;
    background-clip: padding-box;
    border: solid 1px #770089 !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.teste{
    background-color: #dccce0;
    border-radius: 10px;
    border-color: transparent;
}

.config-card{
    border: 3px solid #770089;
    border-radius: 9px;
    width: 154px;
    height: 104px;
}

.config-img{
    width: 150px;
    height: 100px;
    border-radius: 7px;
}

.titulo-card{
    /*background-color: #e1d1e5;*/
    color: #f5d742;
    font-weight: bold;
}

/* Definindo a estilização do html scrollbar*/
html ::-webkit-scrollbar {
    height: 14px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #770089;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}