*{ 
    /*Fonte utilizada no site*/
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{ 
    text-decoration: none;
}

header{
    background-color: #bedef2;
    height: 5rem;
    /* position: fixed !important; */
}

nav{
    background-color: transparent;
}

.logo-header{
    
    min-width: 12.5rem;
}

/* Estilização do input dentro do header */
.form-pesquisar{
    width: 25rem;
}

nav input, header input{
    width: min(45vw, 700px);
    height: 1.875rem;
    border-radius: 8px !important;
    border: #b25abf 2px solid !important;
}

nav input:hover, header input:hover{
    border: #b25abf 3px solid !important;
}

/* Estilização do input de tipo 'search' */
input[type='search']{
    padding-left: 0.625rem;
}

/* Estilização do botão de pesquisa */
.div-pesquisar{
    margin-left: 2.813rem;
}

.btn-pesquisar{
    background-color: transparent;
    color: #000;
    border: 1px solid rgb(162, 189, 206);
    border-radius: 4px;
}

.btn-pesquisar:hover{
    color: #b25abf;
}

.btn-collapse{
    width: 3.75rem;
}

/* Estilização do botão de criar evento */
.btn-criar-evento{
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: bold;
    width: 11.25rem;
    font-size: min(4vw, 18px);
}

/* Estilização do botão de criar evento no hover */
.btn-criar-evento:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

.btn-criar-evento:active{
    color: #b25abf !important;
    border: none !important;
}

.short-criar{
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: bold;
    height: 2.813rem;
    width: 3.125rem !important;
}

.short-criar:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

/* Estilização do botão de login */
.btn-login{
    font-size: min(4vw, 18px);
    width: 7.188rem;
    font-weight: bold;
    color: #000;
}

/* Estilização do botão de login no hover */
.btn-login:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

/* Estilização do botão de login quando pressionado */
.btn-login:active{
    color: #b25abf !important;
    border: none !important;
}

/*Media Query*/
@media (max-width: 320px){
    .btn-pesquisar{
        display: none;
    }

    .div-img{
        margin-left: 0.625rem !important;
    }
}

@media (width: 375px) {
    .btn-pesquisar{
        margin-left: 50rem;
    }
}

@media (max-width: 376px){
    .logo-header{
        margin-left: 5.313rem !important;
    }
}

@media (max-width: 426px){
    .logo-header{
        margin-left: 5.938rem!important;
    }
}

@media (max-width: 768px) {
    .logo-header{
        margin-top: 0rem;
    }
    .div-img{
        padding-top: 0.625rem;
    }

    nav{
        height: 80px;
    }
}

@media (width: 768px) {
    nav{
        height: 50px;
    }
}

@media (min-width: 1024px) {
    .teste-3{
        align-items: center;
    }
}

@media (width: 1024px) {
    .form-pesquisar{
        margin-left: -5.625rem;
    }
}

@media (max-width: 1024px) {
    .logo-header{
        margin-top: 1.563rem;
    }
}

/* modal */
nav{
    background-color: transparent;
}

.div-img{
    margin-left: -15px !important;
}

.css-selector {
    background: linear-gradient(22deg, #69d006, #dd8448, #ae17d0);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

.xis{
    position: relative;
    right: 2rem;
}

.btn{
    border: none;
    background-color:transparent;
    width:3rem; 
    height: 3rem;
}

.btn:hover{
    border: none;
    background-color:transparent ;
    width:3rem; 
    height: 3rem;
}

.option{
    width: 5rem;  
}

.sidenav{
    width: fit-content;
}

.tamanhoLogo{
    max-width: 15rem;
}

.logout{
    height: fit-content;
}

.modal-header{
    background-color: #bedef2; 
    width: 100%;
    height: fit-content;
}

.modal-footer {
    width: 100%;
    border: none;
    background-color:#e0e0e0;
}

#sair:hover {
    color: rgb(255, 255, 255);
}

/* .logo{
  background-color: #bedef2;
} */

li{
    margin-top: 4rem;
}

li:hover{
    margin-top: 4rem;;
    color:#770089;
}

.list-group-item{
    width: 100%;
    background-color:#e0e0e0;
}

.overlay {
    display: none; /* Esconde a camada de sobreposição por padrão */
    position: fixed; /* Permanece fixo na tela */
    z-index: 1; /* Define uma ordem de camada acima dos outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 212, 0.5); /* Define uma cor de fundo semitransparente */
    backdrop-filter: blur(5px); /* Aplica o efeito de desfoque */
  }
/* Estilização do modal */

.modal-body{
    background-color:#e0e0e0;
    font-size:1.5rem;
  }
  
#sair{
    width: 100%;
    padding-left: 2%; 
  }

/* Estilização do item "sair" na lista */
li#sair.list-group-item.d-flex.d-inline-flex{
    border-left:none;
    border-bottom:none;
    border-right :none;
}

li#sair.list-group-item.d-flex.d-inline-flex:hover{ 
    color:rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.658);
}
/* Animação de entrada do modal */

.modal-content {
    animation-name: modal-animacao;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transform-origin: left center;
}   
    
@keyframes modal-animacao {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}