*{ 
    /*Fonte utilizada no site*/
    font-family: 'Montserrat', sans-serif;
}

/*Cor de fundo utilizada na tela*/
body{
    background-color: #ededed;
}

.navbar-collapse{
    background-color: #bedef2;
}

/* Estilização do elemento com classe .eventosR */
.eventosR{
    font-size: min(4vw, 24px);
    font-weight: bold;
    color: #000;
}

@media (max-width: 1024px) {
    .eventosR{
        margin-top: 5rem;
    }
}

/* Estilização da barra de eventos */
.barraE{
    margin-top: 20px;
    background-color: #dccce0;
    border-radius: 13px;
    height: 150px;
    display: flex;
    align-items: center;
    overflow:auto; 
}

/* Estilização do elemento de evento */
.evento{
    width: 150px;
    height: 100px;
    border-radius: 9px;
    margin-left: 35px;
    border: solid 3px;
    border-color: #770089;
    cursor: pointer;
}

/* Estilização do elemento de evento no hover */
.evento:hover {
    border: 5px solid #b25abf;
    transition-duration: all 0.4s;
}

/* Estilização do elemento com ID "slogan" */
#slogan{
    font-weight: bold;
    font-size: min(5vw, 45px);
    color: #770089;
}

/* Definindo a estilização do elemento com ID "sobre"*/
#sobre{
    color: #000;
    font-weight: bold;
    font-size: min(2vw, 18px);
}

/* Definindo a estilização do elemento com ID "fotosIniciais"*/
#fotosIniciais{
    border-radius: 10px;
    border: solid 3px;
    border-color: #770089;
}

/* Definindo a estilização do html scrollbar*/
html ::-webkit-scrollbar {
    height: 14px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #770089;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}