*{
    font-family: 'Montserrat', sans-serif;
} 

body{
    background-color: #ededed;
}

a{
    text-decoration: none;
}

header{
    background-color: #bedef2;
    height: 70px;
}

/*INICIO MEDIA QUERY*/
@media screen and (max-width: 429px) {
    .login{
        display: none!important;
    }

    .short-login{
        display: flex!important;
        margin-left: 7px;
    }
}

@media screen and (max-width: 748px) {
    .short-criar{
        display: flex!important;
    }

    .short-criar button{     
        border-radius: 100%;
        border: #770089 1px solid;
        height: 30px;
        background-color: #b25abf;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .short-criar i {
        color: #ffffff;
    }

    .criar{
        display: none!important;
    }
}

@media screen and (max-width: 819px) {
    header input{
        width: min(5vw, 300px);
        margin-right: 60px;
    }

    .criar{
        padding: 0;
    }
}
/*FIM MEDIA QUERY*/

.logo-header{
    margin-bottom: -45px;
}

header input{
    width: min(45vw, 700px);
    border-radius: 40px;
    border: #b25abf 2px solid;
}

header input:hover{
    border: #b25abf 3px solid;
    transition-duration: all 0.4s;
}

.area-pesquisar{
    position: relative;
}

input[type='search']{
    padding-left: 10px;
}

.btn-pesquisar{
    background-color: transparent;
    color: #000000;
    border: none;
    border-radius: 4px;
    margin-left: -45px;
    margin-top: 5px;
    max-height: 25px;
    position: absolute;
}

.btn-criar-evento{
    background-color: #b25abf;
    border: #770089 3px solid;
    color: #ffffff;
    border-radius: 40px;
    width: 141px;
    font-size: min(3vw, 14px);
}

.btn-criar-evento:hover{
    background-color: #b900d5;
    transition-duration: all 0.4s;
}

.btn-login{
    font-size: min(4vw, 18px);
    font-weight: bold;
}

.btn-login:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

.btn-login:active{
    color: #b900d5 !important;
    border: none !important;
}

.eventosR{
    font-size: min(4vw, 24px);
    font-weight: bold;
}

.barraE{
    margin-top: 20px;
    background-color: #dccce0;
    border-radius: 13px;
    height: 150px;
    display: flex;
    align-items: center;
    overflow:auto; 
}

.evento{
    width: 150px;
    height: 100px;
    border-radius: 9px;
    margin-left: 35px;
    border: solid 2px;
    border-color: #770089;
    cursor: pointer;
}

.evento:hover {
    border: 6px solid #770089;
    transition-duration: all 0.4s;
}

#slogan{
    font-weight: bold;
    font-size: min(5vw, 45px);
    color: #770089;
}

/* Definindo a estilização do elemento com ID "sobre"*/
#sobre{
    font-weight: bold;
    font-size: min(2vw, 18px);
}

/* Definindo a estilização do elemento com ID "fotosIniciais"*/
#fotosIniciais{
    border-radius: 10px;
    border: solid 3px;
    border-color: #770089;
}


/* INICIO FOOTER */
#instagram{
    color: black;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

#instagram:hover{
    color: #b900d5;
    transition-duration: all 0.4s;
}

#sobreN{
    font-size: min(3vh, 20px);
}

#sobreNozes{
    color: black !important;
    font-weight: bold;
    text-decoration: underline;
}

#sobreNozes:hover{
    color: #b25abf !important;
    transition-duration: all 0.4s;
}

/* Definindo a estilização do elemento com ID "from"*/
#from{
    width: min(50vw, 150px);
}

/* Definindo a estilização do elemento com ID "baixar"*/
#baixar{
    width: min(50vw, 130px);
}

/* Definindo a estilização do elemento com ID "app"*/
#app{
    font-size: min(3vh, 11px);
    font-weight: bold;
}
/* FIM FOOTER */

/* Definindo a estilização do html scrollbar*/
html ::-webkit-scrollbar {
    height: 14px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #770089;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}