/* Colocando a fonte e a cor em toda a tela html*/
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ededed !important
}

/* Definindo a estilização do elemento com ID "divMenu"*/
#Cabecalho {
    background-color: #bedef2;
}

/* Definindo a altura e largura da logo"*/
#logo {
    width: 350px;
    position: relative;
}

html {
    overflow-x: hidden;
}

/* Definindo a estilização do elemento com ID "divLogoP"*/
#divLogoP {
    height: 85px;
    overflow: visible;
}

/* Definindo a estilização do elemento com ID "divBuscar"*/
.divBuscar {
    position: relative;
    transform: translate(-0%, - 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Definindo a estilização do elemento com ID "buscar"*/
.buscar {
    background-color: #ededed;
    height: 15px;
    padding: 15px;
    border: 2px solid #b25abf;
    border-radius: 40px;
    width: 100%;
}

.buscar:focus {
    outline: none !important;
}

.pesquisa {
    position: absolute;
    right: 30px;
    background-color: transparent;
    cursor: pointer;
    height: 20px;
    border: none;
    color: #000000;
}

/* Definindo a estilização do elemento com ID "CriarEvento"*/
.criar {
    border: solid 3px;
    border-color: #770089;
    border-radius: 40px;
    background-color: #b25abf;
    text-align: center;
    height: 33px;
    width: 170px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.criar:hover{
    background-color: #b900d5;
}

.short-criar {
    font-size: 14px;
    width: 34px;
}

#logo {
    z-index: 2
}

.mais{
    color: #FFF !important;
}

@media screen and (max-width: 991px) {
    .short-criar {
        display: block !important;
    }

    .criar {
        display: none;
    }
}

/* Definindo a altura, cursor e largura do elemento com ID "login"*/
#login{
    cursor: pointer; 
    height :70px;
}

/* Definindo a estilização do elemento com a class "btn"*/
.btn{
    background-color: transparent;
    cursor: pointer;
    height: 33px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

.btn:hover{
    color: #b900d5 !important;
    transition-duration: all 0.4s;
}

/* Definindo a estilização do elemento com a class "EventosR"*/
.EventosR{
    font-weight: bold;
    font-size: 25px;
    /* position: absolute;
    top: 15%;
    left: 3.8%; */
}

/* Definindo a estilização do elemento com a class "barraE"*/
.barraE{
    margin-top: 20px;
    background-color: #dccce0;
    border-radius: 13px;
    height: 150px;
    display: flex;
    align-items: center;
    overflow:auto; 
}

/* Definindo a estilização do elemento com a class "evento"*/
.evento{
    width: 150px;
    height: 100px;
    border-radius: 9px;
    margin-left: 35px;
    border: solid 2px;
    border-color: #770089;
    cursor: pointer;
}

.evento:hover {
    border: 6px solid #770089;
    transition-duration: all 0.4s;
}

/* Definindo a estilização do html scrollbar*/
html ::-webkit-scrollbar {
    height: 14px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #770089;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}

/* Definindo a estilização do elemento com ID "slogan"*/
#slogan{
    font-weight: bold;
    font-size: 45px;
    color: #770089;
}

/* Definindo a estilização do elemento com ID "sobre"*/
#sobre{
    font-weight: bold;
    font-size: 18px;
}

/* Definindo a estilização do elemento com ID "fotosIniciais"*/
#fotosIniciais{
    border-radius: 10px;
    border: solid 3px;
    border-color: #770089;
}

/* Definindo a estilização do elemento com ID "insta"*/
#insta{
    color: black;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

#insta:hover{
    color: #b900d5;
    transition-duration: all 0.4s;
}

/* Definindo a estilização do elemento com ID "sobreN"*/
#sobreN{
    font-size: 20px;
}

/* Definindo a estilização do elemento com ID "sobreNozes"*/
#sobreNozes{
    color: black;
    font-weight: bold;
}

#sobreNozes:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

/* Definindo a estilização do elemento com ID "from"*/
#from{
    width: 150px;
    height: 80px;
}

/* Definindo a estilização do elemento com class "store*/
.store{
    width: 30px;
    height: 50px;
}

/* Definindo a estilização do elemento com ID "baixar"*/
#baixar{
    width: 130px;
    height: 50px;
}

/* Definindo a estilização do elemento com ID "app"*/
#app{
    font-size: 11px;
    font-weight: bold;
}