*{ 
    /*Fonte utilizada no site*/
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{ 
    text-decoration: none;
}

header{
    background-color: #bedef2;
    height: 80px;
    /* position: fixed !important; */
}

nav{
    background-color: #bedef2;
}

.logo-header{
    min-width: 12.5rem;
}

/* Estilização do input dentro do header */
.form-pesquisar{
    width: 400px;
}

nav input, header input{
    width: min(45vw, 700px);
    height: 30px;
    border-radius: 8px !important;
    border: #b25abf 2px solid !important;
}

nav input:hover, header input:hover{
    border: #b25abf 3px solid !important;
}

/* Estilização do input de tipo 'search' */
input[type='search']{
    padding-left: 10px;
}

/* Estilização do botão de pesquisa */
.div-pesquisar{
    margin-left: 45px;
}

.btn-pesquisar{
    background-color: transparent;
    color: #000;
    border: 1px solid rgb(162, 189, 206);
    border-radius: 4px;
    height: 45px;
    width: 50px!important;
}

.btn:hover{
    color: #b25abf !important;
}

.btn-pesquisar:hover{
    color: #b25abf;
}

.btn-collapse{
    width: 60px;
}

/* Estilização do botão de criar evento */
.btn-criar-evento{
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: bold;
    width: 180px;
    font-size: min(4vw, 18px);
}

/* Estilização do botão de criar evento no hover */
.btn-criar-evento:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

.btn-criar-evento:active{
    color: #b25abf !important;
    border: none !important;
}

.short-criar{
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: bold;
    height: 45px;
    width: 50px!important;
}

.short-criar:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

/* Estilização do botão de login */
.btn-login{
    font-size: min(4vw, 18px);
    width: 115px;
    font-weight: bold;
    color: #000;
}

/* Estilização do botão de login no hover */
.btn-login:hover{
    color: #b25abf;
    transition-duration: all 0.4s;
}

/* Estilização do botão de login quando pressionado */
.btn-login:active{
    color: #b25abf !important;
    border: none !important;
}

/*Media Query*/
@media (max-width: 320px){
    .btn-pesquisar{
        display: none;
    }

    .div-img{
        margin-left: 10px!important;
    }
}

@media (width: 375px) {
    .btn-pesquisar{
        margin-left: 50rem;
    }
}

@media (max-width: 376px){
    .logo-header{
        margin-left: 85px !important;
    }
}

@media (max-width: 426px){
    .logo-header{
        margin-left: 95px!important;
    }
}

@media (max-width: 768px) {
    .logo-header{
        margin-top: 0px;
    }
    .div-img{
        padding-top: 10px;
    }
}

@media (min-width: 1024px) {
    nav{
        background-color: #bedef2;
        height: 80px;
    }

    .teste-3{
        align-items: center;
    }
}

@media (width: 1024px) {
    .form-pesquisar{
        margin-left: -90px;
    }
}

@media (max-width: 1024px) {
    .logo-header{
        margin-top: 25px;
    }
}