/* importando a fonte Montserrat do Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Julee&family=Montserrat:wght@500&display=swap');

/* Colocando a fonte em toda a tela html*/
body{
    font-family: 'Montserrat', sans-serif; 
}

/* Definindo a estilização do elemento com ID "divMenu*/
#Cabecalho{
    position: relative;
    background-color: #bedef2;
    width: 1890px;
    height: 80px;
    top: -7px;
}

/* Definindo a estilização do elemento com ID "logo*/
#logo{
    width: 350px;
    height: 300px;
}

/* Definindo a estilização do elemento com ID "divLogoP"*/
#divLogoP{
    top: -100%;
    align-items: center;
    position: relative;
    right: 3px;
    left: 0px;
}

/* Definindo a estilização do elemento com ID "divBuscar*/
.divBuscar{
    position:absolute;
    top:25%;
    left:20%;
    transform: translate(-0%, - 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Definindo a estilização do elemento com ID "lupa*/
#lupa{
    position: absolute;
    width: 10x;
    height: 20px;
    top:20%;
    left:97%;
}

/* Definindo a estilização do elemento com ID "buscar"*/
.buscar{
    width: 1150px;
    background-color: #ededed;
    height:15px;
    padding: 15px;
    border: 3px solid #b25abf;
    border-radius: 40px;
}

/* Definindo a estilização do elemento com ID "cadastrar"*/
#cadastrar{
    position: absolute;
    top: 26%;
    left: 82.5%;
    border: solid 3px;
    border-color: #770089;
    border-radius: 40px;
    background-color:#b25abf;
    text-align: center;
    height: 33px;
    width: 150px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

/* Definindo a estilização do elemento com ID "login"*/
.login{
    width: 5px;
    height: 20px;
    position: absolute;
    top: 7%;
    left: 91%;
    background-color: #bedef2;
}

/* Definindo a altura, cursor e largura do elemento com ID "login"*/
#login{
    cursor: pointer; 
    height :70px; 
     width:150px ;
}

/* Definindo a estilização do elemento com ID "EventosR"*/
.EventosR{
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 15%;
    left: 3.8%;
}

/* Definindo a estilização do elemento com ID "barraE"*/
.barraE{
    margin-top: 20px;
    background-color: #dccce0;
    border-radius: 13px;
    width: 1750px;
    height: 150px;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    overflow:auto; 
}

/* Definindo a estilização do elemento com ID "evento"*/
.evento{
    width: 150px;
    height: 100px;
    border-radius: 9px;
    margin-left: 35px;
    border: solid 2px;
    border-color: #770089;
    cursor: pointer;
}

/* Definindo a estilização do html scrollbar*/
html ::-webkit-scrollbar {
    height: 14px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #770089;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}

/* Definindo a posição do elemento com a class "Slogan"*/
.Slogan{
    position: relative;
    top: 350px;
}

/* Definindo a estilização do elemento com ID "slogan"*/
#slogan{
    position: absolute;
    font-weight: bold;
    font-size: 55px;
    position: absolute;
    left: 3.8%;
    color: #770089;
}

/* Definindo a estilização do elemento com ID "sobre"*/
#sobre{
    top: 225px;
    left: 3.8%;
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
}

/* Definindo a estilização do elemento com ID "fotosIniciais"*/
#fotosIniciais{
    width: 1250px;
    height: 400px;
    position: absolute;
    top: 41%;
    left: 30%;
    border-radius: 10px;
    border: solid 3px;
    border-color: #770089;
}

/* Definindo a posição do elemento com class "rodape"*/
.rodape{
    position: absolute;
    
}

/* Definindo a estilização do elemento com ID "insta"*/
#insta{
    position: relative;
    top: 88.5%;
    width: 25px;
    height: 25px;
    left: 3.5%;
}

/* Definindo a estilização do elemento com ID "sobreN"*/
#sobreN{
    position: relative;
    top: 88%;
    font-size: 20px;
    left: 4%;
}

/* Definindo a estilização do elemento com ID "from"*/
#from{
    position: absolute;
    top: 90%;
    width: 150px;
    height: 80px;
    left: 45%;
}

/* Definindo a estilização do elemento com class "store*/
.store{
    width: 30px;
    height: 50px;
    position: absolute;
    top: 93%;
    left: 85.5%; 
}

/* Definindo a estilização do elemento com ID "baixar"*/
#baixar{
    position: absolute;
    width: 130px;
    height: 50px;
    left: 90%;
}

/* Definindo a estilização do elemento com ID "app"*/
#app{
    position: relative;
    top: 83%;
    font-size: 11px;
    left: 78%;
    font-weight: bold;
}